@charset "UTF-8";
/* reset */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Sora:wght@100..800&display=swap");
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Sora", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #202020;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #222;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

:root {
  --swiper-pagination-color: #0033ff;
  --swiper-pagination-bullet-inactive-color: #fff;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.bg-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video-overlay {
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(16, 23, 45, 0.9), rgba(16, 23, 45, 0.2) 23%, #16244b), url(../main/bg_pattern.webp);
  background-position: 0 0, 0 0;
  background-size: auto, 2px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.video-background {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
  color: #fff;
}
.video-background > video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -100;
  background-position: 50%;
  background-size: cover;
  margin: auto;
  position: absolute;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;
}

.video-header {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  min-height: 900px;
  justify-content: center;
  align-items: center;
  padding: 48px;
  display: flex;
  position: relative;
  transform-origin: 50% 80%;
}

.sec_slide {
  position: relative;
  z-index: 3;
}
.sec_slide .swiper-slide .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 1200px;
  height: 600px;
  margin: 0 auto;
}
.sec_slide .swiper-slide strong {
  display: flex;
  align-items: flex-end;
  font-size: 85px;
  opacity: 0;
  color: white;
}
.sec_slide .swiper-slide .dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #0033ff;
  border-radius: 50%;
  transform: translate(20px, -20px);
}
.sec_slide .swiper-slide p {
  margin-top: 20px;
  font-size: 22px;
  opacity: 0;
  color: white;
}
.sec_slide .swiper-slide.swiper-slide-active strong {
  animation: fadeInUp 0.7s 0.3s ease-in-out forwards;
}
.sec_slide .swiper-slide.swiper-slide-active p {
  animation: fadeIn 0.5s 0.5s ease-in-out forwards;
}
.sec_slide .indicator {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, 130px);
  max-width: 1200px;
  width: 100%;
  height: 25px;
  margin: 0 auto;
}
.sec_slide .swiper-pagination {
  position: static;
  width: auto;
  margin-right: 20px;
}
.sec_slide .swiper-button {
  position: static;
  transform: scale(0.5);
  margin-top: 0;
  margin-right: 10px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.major-wrap {
  overflow: hidden;
  padding-bottom: 50px;
}

.major-stock {
  max-width: 1200px;
  overflow: visible;
}

.major-swiper {
  display: flex;
  gap: 20px;
}
.major-swiper .background-up {
  background: rgba(214, 27, 38, 0.1);
}
.major-swiper .background-up .wts-icon {
  color: #d61b26;
}
.major-swiper .background-down {
  background: rgba(26, 171, 162, 0.1);
}
.major-swiper .background-down .wts-icon {
  color: #1aaba2;
}
.major-swiper a {
  display: block;
  padding: 15px 25px;
  border-radius: 10px;
}
.major-swiper .type {
  font-size: 14px;
  font-weight: 400;
}
.major-swiper .price {
  margin-top: 5px;
  font-size: 18px;
}
.major-swiper .wts-icon {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}
.major-swiper .wts-icon .fa-solid {
  margin-right: 5px;
}

.bg-gray {
  padding: 50px 0;
  background: #f1f1f5;
}

.bg-white {
  padding: 50px 0;
  background: #fff;
}

.bg-blue {
  padding: 150px 0;
  background: #1247b3;
}
.bg-blue .title {
  color: #fff;
}

.bg-dark {
  padding: 150px 0;
  background: #1a2a57;
}
.bg-dark .title {
  color: #fff;
}

.center {
  text-align: center;
}

.sec-g {
  position: relative;
}
.sec-g .container {
  position: relative;
  z-index: 4;
}

.sec-2 {
  padding: 100px 0;
  background: #1247b3;
}
.sec-2 .title {
  position: sticky;
  top: 0;
  left: 0;
  padding: 50px 0;
}
.sec-2 .title img {
  width: 60%;
}
.sec-2 .title h2 {
  margin-bottom: 50px;
  font-size: 90px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
  color: #fff;
}
.sec-2 .title h2 span {
  color: #a5b5d7;
}
.sec-2 .container {
  display: flex;
  justify-content: space-between;
}
.sec-2 .container .col-left {
  width: 40%;
}
.sec-2 .container .col-right {
  width: 60%;
  padding-left: 50px;
}
.sec-2 .content {
  padding: 50px 0;
}
.sec-2 .content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px 30px;
}
.sec-2 .content li {
  width: 40%;
  height: 150px;
}
.sec-2 .content i {
  font-size: 30px;
  color: #fff;
}
.sec-2 .content strong {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
}
.sec-2 .content p {
  margin-top: 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.sec-3 {
  padding: 150px 0;
  background: #1a2a57;
}
.sec-3 .title {
  padding: 50px 0;
}
.sec-3 .title h2 {
  margin-bottom: 50px;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}
.sec-3 .title h2 span {
  color: #a5b5d7;
}
.sec-3 .list-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.sec-3 .list-item > li {
  width: 32%;
  height: 355px;
  padding: 50px 0;
  background: #143066;
  text-align: center;
  transition: all 0.3s;
  border-radius: 16px;
}
.sec-3 .list-item > li:hover {
  transform: scale(0.98);
  background: #183772;
}
.sec-3 .list-item i {
  font-size: 30px;
  color: #6189f6;
}
.sec-3 .list-item strong {
  display: block;
  margin-top: 40px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.sec-3 .list-item .item-detail {
  margin-top: 20px;
}
.sec-3 .list-item .item-detail li {
  padding: 3px 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.sec-4 {
  padding: 150px 0;
  background: url(../main/bg-sec4.jpg) no-repeat 50% 50%/cover;
}
.sec-4 .title {
  padding: 50px 0;
}
.sec-4 .title h2 {
  margin-bottom: 50px;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}
.sec-4 .title h2 span {
  color: #a5b5d7;
}
.sec-4 .content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: #fff;
}
.sec-4 .col-1,
.sec-4 .col-3 {
  display: flex;
  align-items: center;
  width: 27%;
  padding: 50px 30px;
  background: rgba(20, 47, 102, 0.8);
  border-radius: 16px;
}
.sec-4 .col-1 li,
.sec-4 .col-3 li {
  position: relative;
  margin: 15px 0;
  padding-left: 20px;
  font-size: 14px;
}
.sec-4 .col-1 li::before,
.sec-4 .col-3 li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 5px;
  height: 5px;
  background: #6189f6;
  border-radius: 50%;
  transform: translateY(-50%);
}
.sec-4 .col-1 li span,
.sec-4 .col-3 li span {
  color: #6189f6;
}
.sec-4 .col-2 {
  display: flex;
  gap: 20px;
  flex: 1;
  padding: 50px 30px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  border: 1px solid #6189f6;
}
.sec-4 .col-2 .box-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sec-4 .col-2 .box-1 strong {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: #1a2a57;
  border-radius: 50px;
}
.sec-4 .col-2 .box-1 .list-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}
.sec-4 .col-2 .box-1 .list-box li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46%;
  height: 60px;
  background: rgba(140, 140, 140, 0.3);
  border-radius: 60px;
  font-size: 14px;
  line-height: 1.2;
  color: #1a2a57;
}
.sec-4 .col-2 .box-2 {
  width: 240px;
}
.sec-4 .col-2 .box-2 ul {
  margin-top: 70px;
}
.sec-4 .col-2 .box-2 ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  font-size: 14px;
  line-height: 1.2;
  color: #1a2a57;
}

.sec-5 {
  padding: 100px 0;
  background: #1247b3;
}
.sec-5 .container {
  display: flex;
  justify-content: space-between;
}
.sec-5 .container .col-left {
  width: 40%;
  border-radius: 16px;
  background: #819fff;
}
.sec-5 .container .col-right {
  width: 50%;
  padding-left: 50px;
}
.sec-5 .title {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}
.sec-5 .title img {
  width: 60%;
}
.sec-5 .title h2 {
  margin-bottom: 50px;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
  color: #fff;
}
.sec-5 .title h2 span {
  color: #a5b5d7;
}

section.horizontal {
  overflow-x: hidden;
}
section.horizontal .pin-wrap,
section.horizontal .animation-wrap {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100vh;
}
section.horizontal .item {
  position: relative;
  padding: 300px 80px 100px;
  flex: 0 0 700px;
  height: calc(100vh - 300px);
  display: flex;
  align-items: center;
  line-height: 1.7;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  background-color: transparent;
  font-size: 24px;
  color: #fff;
}
section.horizontal .item i {
  position: absolute;
  bottom: -60px;
  left: 0;
  font-size: 50px;
}
section.horizontal .item strong {
  position: relative;
  display: block;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
section.horizontal .item strong span {
  display: block;
  margin-top: 10px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
}
section.horizontal .item:before {
  position: absolute;
  font-size: 150px;
  opacity: 0.13;
  font-weight: bold;
  z-index: -1;
  transform: translate(-30px, -80px);
  line-height: 1;
}
section.horizontal .animation-wrap.to-right {
  counter-reset: item -1;
  float: left;
}
section.horizontal .animation-wrap.to-left {
  counter-reset: item 10;
  float: right;
}
section.horizontal .animation-wrap.to-right .item:before {
  counter-increment: item;
  content: counter(item);
}
section.horizontal .animation-wrap .item:first-child::before {
  font-size: 0;
  text-indent: -9999px;
}
section.horizontal .animation-wrap .item:nth-child(2n+2) {
  align-items: flex-start;
}
section.horizontal .animation-wrap .item:nth-child(4n+4) {
  align-items: flex-end;
}

.custom-wrap {
  padding: 100px 0;
}
.custom-wrap .d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}
.custom-wrap .sec-custom {
  display: flex;
  gap: 70px;
}
.custom-wrap .sec-custom .intro-sec__bd {
  gap: 30px;
}
.custom-wrap .link-tel {
  display: block;
  font-size: 34px;
  font-weight: 400;
}
.custom-wrap .link-tel span {
  font-size: 18px;
  font-weight: 300;
}
.custom-wrap .link-kakao {
  display: inline-flex;
  align-items: center;
  padding: 12px 20px 10px;
  background: #fae100;
  border-radius: 44px;
}
.custom-wrap .link-kakao img {
  width: 20px;
}
.custom-wrap .link-faq {
  display: inline-flex;
  align-items: center;
  padding: 12px 24px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 44px;
}/*# sourceMappingURL=comm.css.map */